[submodule "core"]
	path = core
	url = git@github.com:RnaodmBiT/core.git
[submodule "layout"]
	path = layout
	url = git@github.com:RnaodmBiT/layout.git
[submodule "graphics"]
	path = graphics
	url = git@github.com:RnaodmBiT/graphics.git
